// 隐藏 前方高能右侧 话题精选
html[channel-hide-high-energy-topic] {
    .bili-grid:has([data-report='high_energy.content']) {
        grid-template-columns: unset !important;
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }
    .bili-grid:has([data-report='high_energy.content']) aside[data-report='topic.card'] {
        display: none !important;
    }
    .bili-grid:has([data-report='high_energy.content']) .video-card-list,
    .video-double-full {
        min-height: unset !important;
    }
    @media (max-width: 1099.9px) {
        .bili-grid:has([data-report='high_energy.content']) .video-card-list .video-card-body {
            grid-column: span 4;
            grid-template-columns: repeat(4, 1fr);
            overflow: hidden;
            /* grid-template-rows: repeat(2, 1fr); */
            grid-template-rows: 1fr auto;
            grid-auto-rows: 0px;
        }
        .bili-grid:has([data-report='high_energy.content']) .video-card-list .video-card-body > *:nth-of-type(1n + 7) {
            display: unset !important;
        }
    }
    @media (min-width: 1100px) and (max-width: 1366.9px) {
        .bili-grid:has([data-report='high_energy.content']) .video-card-list .video-card-body {
            grid-column: span 5;
            grid-template-columns: repeat(5, 1fr);
            overflow: hidden;
            /* grid-template-rows: repeat(2, 1fr); */
            grid-template-rows: 1fr auto;
            grid-auto-rows: 0px;
        }
        .bili-grid:has([data-report='high_energy.content']) .video-card-list .video-card-body > *:nth-of-type(1n + 9) {
            display: unset !important;
        }
    }
    @media (min-width: 1367px) and (max-width: 1700.9px) {
        .bili-grid:has([data-report='high_energy.content']) .video-card-list .video-card-body {
            grid-column: span 5;
            grid-template-columns: repeat(5, 1fr);
            overflow: hidden;
            /* grid-template-rows: repeat(2, 1fr); */
            grid-template-rows: 1fr auto;
            grid-auto-rows: 0px;
        }
        .bili-grid:has([data-report='high_energy.content']) .video-card-list .video-card-body > *:nth-of-type(1n + 9) {
            display: unset !important;
        }
    }
    @media (min-width: 1701px) and (max-width: 2199.9px) {
        .bili-grid:has([data-report='high_energy.content']) .video-card-list .video-card-body {
            grid-column: span 6;
            grid-template-columns: repeat(6, 1fr);
            overflow: hidden;
            /* grid-template-rows: repeat(2, 1fr); */
            grid-template-rows: 1fr auto;
            grid-auto-rows: 0px;
        }
        .bili-grid:has([data-report='high_energy.content']) .video-card-list .video-card-body > *:nth-of-type(1n + 11) {
            display: unset !important;
        }
    }
    @media (min-width: 2200px) {
        .bili-grid:has([data-report='high_energy.content']) .video-card-list .video-card-body {
            grid-column: span 6;
            grid-template-columns: repeat(6, 1fr);
            overflow: hidden;
            /* grid-template-rows: repeat(2, 1fr); */
            grid-template-rows: 1fr auto;
            grid-auto-rows: 0px;
        }
        .bili-grid:has([data-report='high_energy.content']) .video-card-list .video-card-body > *:nth-of-type(1n + 13) {
            display: unset !important;
        }
    }
}

// 隐藏 前方高能栏目
html[channel-hide-high-energy] {
    .bili-grid:has([data-report='high_energy.content']) {
        display: none !important;
    }
}

// 隐藏 视频栏目右侧 热门列表
html[channel-hide-rank-list] {
    .bili-grid:has(.rank-list) {
        grid-template-columns: unset !important;
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }
    .bili-grid:has(.rank-list) aside {
        display: none !important;
    }
    .bili-grid.sub-dynamic:has(.rank-list),
    .bili-grid:has(.rank-list) .video-card-list {
        min-height: unset !important;
    }
    @media (max-width: 1099.9px) {
        .bili-grid:has(.rank-list) .video-card-list .video-card-body {
            grid-column: span 4;
            grid-template-columns: repeat(4, 1fr);
            overflow: hidden;
            /* grid-template-rows: repeat(2, 1fr); */
            grid-template-rows: 1fr auto;
            grid-auto-rows: 0px;
        }
        .bili-grid:has(.rank-list) .video-card-list .video-card-body > *:nth-of-type(1n + 7) {
            display: unset !important;
        }
    }
    @media (min-width: 1100px) and (max-width: 1366.9px) {
        .bili-grid:has(.rank-list) .video-card-list .video-card-body {
            grid-column: span 5;
            grid-template-columns: repeat(5, 1fr);
            overflow: hidden;
            /* grid-template-rows: repeat(2, 1fr); */
            grid-template-rows: 1fr auto;
            grid-auto-rows: 0px;
        }
        .bili-grid:has(.rank-list) .video-card-list .video-card-body > *:nth-of-type(1n + 9) {
            display: unset !important;
        }
    }
    @media (min-width: 1367px) and (max-width: 1700.9px) {
        .bili-grid:has(.rank-list) .video-card-list .video-card-body {
            grid-column: span 5;
            grid-template-columns: repeat(5, 1fr);
            overflow: hidden;
            /* grid-template-rows: repeat(2, 1fr); */
            grid-template-rows: 1fr auto;
            grid-auto-rows: 0px;
        }
        .bili-grid:has(.rank-list) .video-card-list .video-card-body > *:nth-of-type(1n + 9) {
            display: unset !important;
        }
    }
    @media (min-width: 1701px) and (max-width: 2199.9px) {
        .bili-grid:has(.rank-list) .video-card-list .video-card-body {
            grid-column: span 6;
            grid-template-columns: repeat(6, 1fr);
            overflow: hidden;
            /* grid-template-rows: repeat(2, 1fr); */
            grid-template-rows: 1fr auto;
            grid-auto-rows: 0px;
        }
        .bili-grid:has(.rank-list) .video-card-list .video-card-body > *:nth-of-type(1n + 11) {
            display: unset !important;
        }
    }
    @media (min-width: 2200px) {
        .bili-grid:has(.rank-list) .video-card-list .video-card-body {
            grid-column: span 6;
            grid-template-columns: repeat(6, 1fr);
            overflow: hidden;
            /* grid-template-rows: repeat(2, 1fr); */
            grid-template-rows: 1fr auto;
            grid-auto-rows: 0px;
        }
        .bili-grid:has(.rank-list) .video-card-list .video-card-body > *:nth-of-type(1n + 13) {
            display: unset !important;
        }
    }
}

// 隐藏 广告banner
html[channel-hide-ad-banner] {
    .eva-banner {
        display: none !important;
    }
    .bili-grid {
        margin-bottom: 20px !important;
    }
}

// 隐藏 发布时间
html[channel-hide-video-info-date] {
    .bili-video-card__info--date {
        display: none !important;
    }
}

// 隐藏 弹幕数
html[channel-hide-danmaku-count] {
    .bili-video-card__stats--item:nth-child(2) {
        visibility: hidden;
    }
}

// 隐藏 稍后再看按钮
html[channel-hide-bili-watch-later] {
    .bili-watch-later {
        display: none !important;
    }
}

// 优化 近期投稿栏目 视频行距
html[channel-feed-card-body-grid-gap] {
    .feed-card-body {
        grid-gap: 20px 12px !important;
    }
}

// 增大 视频信息字号
html[channel-increase-rcmd-list-font-size] {
    .bili-video-card .bili-video-card__info--tit,
    .bili-live-card .bili-live-card__info--tit,
    .single-card.floor-card .title {
        font-size: 16px !important;
    }
    .bili-video-card .bili-video-card__info--bottom,
    .floor-card .sub-title.sub-title {
        font-size: 14px !important;
    }
    .bili-video-card__stats,
    .bili-video-card__stats .bili-video-card__stats--left,
    .bili-video-card__stats .bili-video-card__stats--right {
        font-size: 14px !important;
    }
}
