// 隐藏 头像框
html[hide-dynamic-page-bili-dyn-avatar-pendent] {
    .bili-dyn-list {
        .b-avatar__layer.center {
            width: 48px !important;
            height: 48px !important;
        }
        .b-avatar__layers .b-avatar__layer.center:nth-child(2) picture {
            display: none !important;
        }
        .b-avatar__layers:has(.b-avatar__layer__res[style^='background']) {
            display: none !important;
        }
    }
}

// 隐藏 头像徽章
html[hide-dynamic-page-bili-dyn-avatar-icon] {
    .bili-dyn-list .b-avatar__layers .b-avatar__layer:last-child:not(.center) {
        display: none !important;
    }
}

// 隐藏 动态右侧饰品
html[hide-dynamic-page-bili-dyn-ornament] {
    .bili-dyn-ornament,
    .bili-dyn-item__ornament {
        display: none !important;
    }
}

// 隐藏 警告notice
html[hide-dynamic-page-bili-dyn-dispute] {
    .bili-dyn-content__dispute {
        display: none !important;
    }
}

// 隐藏 官方话题Tag
html[hide-dynamic-page-bili-dyn-official-topic] {
    .bili-dyn-content__orig__topic,
    .bili-dyn-content__forw__topic {
        display: none !important;
    }
}

// 禁用 普通话题#Tag#高亮
html[hide-dynamic-page-bili-dyn-text-topic] {
    .bili-rich-text-topic {
        color: inherit !important;
    }
    .bili-rich-text-topic:hover {
        color: var(--brand_blue) !important;
    }
}

// 隐藏 动态精选互动 XXX赞了/XXX回复
html[hide-dynamic-page-bili-dyn-item-interaction] {
    .bili-dyn-item__interaction {
        display: none !important;
    }
}

// 隐藏 视频预约/直播预约动态
html[hide-dynamic-page-bili-dyn-card-reserve] {
    .bili-dyn-list__item:has(.bili-dyn-card-reserve) {
        display: none !important;
    }
}

// 隐藏 带货动态
html[hide-dynamic-page-bili-dyn-card-goods] {
    .bili-dyn-list__item:has(.bili-dyn-card-goods),
    .bili-dyn-list__item:has(.bili-rich-text-module.goods),
    .bili-dyn-list__item:has([data-type='goods']) {
        visibility: hidden !important;
        height: 0 !important;
        margin: 0 !important;
    }
}

// 隐藏 抽奖动态(含转发)
html[hide-dynamic-page-bili-dyn-lottery] {
    .bili-dyn-list__item:has([data-type='lottery']) {
        display: none !important;
    }
}

// 隐藏 转发的动态
html[hide-dynamic-page-bili-dyn-forward] {
    .bili-dyn-list__item:has(.bili-dyn-content__orig.reference) {
        display: none !important;
    }
}

// 隐藏 投票动态
html[hide-dynamic-page-bili-dyn-vote] {
    .bili-dyn-list__item:has(.bili-dyn-card-vote) {
        display: none !important;
    }
}

// 隐藏 直播通知动态
html[hide-dynamic-page-bili-dyn-live] {
    .bili-dyn-list__item:has(.bili-dyn-card-live) {
        display: none !important;
    }
}

// 隐藏 被block的充电动态
html[hide-dynamic-page-bili-dyn-blocked] {
    .bili-dyn-list__item:has(.dyn-blocked-mask) {
        display: none !important;
    }
}

// 隐藏 全部充电视频(含已充电)
html[hide-dynamic-page-bili-dyn-charge-video] {
    .bili-dyn-list__item:has(.bili-dyn-card-video__badge [src*='qcRJ6sJU91']) {
        display: none !important;
    }
}
