// 调节 动态列表 中栏宽度
html[dynamic-list-width] {
    main {
        width: var(--dynamic-list-width) !important;
    }

    // 限制查看图片时img高度
    .bili-album__watch__content img {
        max-height: 80vh !important;
    }
}

// 调节 动态详情 中栏宽度
html[dynamic-detail-width] {
    // www.bilibili.com/opus/123456789
    .opus-detail {
        width: var(--dynamic-detail-width) !important;
        .right-sidebar-wrap {
            margin-left: calc(var(--dynamic-detail-width) + 10px) !important;
        }
    }

    // t.bilibili.com/123456789
    .content:has(.card .bili-dyn-item) {
        width: var(--dynamic-detail-width) !important;
    }
}
