// 隐藏 个人信息框
html[hide-dynamic-page-bili-dyn-my-info] {
    aside.left section {
        display: none !important;
    }
    .bili-dyn-live-users {
        top: 15px !important;
    }
}

// 隐藏 直播中Logo
html[hide-dynamic-page-bili-dyn-live-users__item__living] {
    .bili-dyn-live-users__item__living {
        display: none !important;
    }
}

// 隐藏 整个左栏
html[hide-dynamic-page-aside-left] {
    aside.left {
        display: none !important;
    }
}
