// 隐藏 社区中心
html[hide-dynamic-page-bili-dyn-banner] {
    .bili-dyn-banner {
        display: none !important;
    }
}

// 隐藏 广告
html[hide-dynamic-page-bili-dyn-ads] {
    section:has(.bili-dyn-ads) {
        display: none !important;
    }
    aside.right section {
        margin-bottom: 0 !important;
    }
    /* header吸附时 */
    aside.right section.sticky {
        top: 72px;
    }
}

// 隐藏 话题列表
html[hide-dynamic-page-bili-dyn-topic-box] {
    .bili-dyn-topic-box,
    .topic-panel {
        display: none !important;
    }
}

// 隐藏 整个右栏
html[hide-dynamic-page-aside-right] {
    aside.right {
        display: none !important;
    }
}
