// 修复字体
html[font-patch] {
    body,
    .h .h-sign,
    .reply-item .root-reply-container .content-warp .user-info .user-name,
    .bili-comment.browser-pc * {
        font-family: 'PingFang SC', 'HarmonyOS_Regular', 'Helvetica Neue', 'Microsoft YaHei', sans-serif !important;
        font-weight: 400;
    }
    body,
    .n .n-text {
        font-size: 14px;
    }
    #page-index .channel .channel-item .small-item,
    #page-video .page-head__left .be-tab-item,
    .n .n-data .n-data-k,
    .n .n-data .n-data-v {
        font-size: 13px;
    }
}
