// 净化分享功能
html[video-page-simple-share] {
    .video-share-popover .video-share-dropdown .dropdown-bottom {
        display: none !important;
    }
    .video-share-popover .video-share-dropdown .dropdown-top {
        padding: 15px !important;
    }
    .video-share-popover .video-share-dropdown .dropdown-top .dropdown-top-right {
        display: none !important;
    }
    .video-share-popover .video-share-dropdown .dropdown-top .dropdown-top-left {
        padding-right: 0 !important;
    }
}

// 顶栏 滚动页面后 不再吸附顶部
html[video-page-hide-fixed-header] {
    .fixed-header .bili-header__bar {
        position: relative !important;
    }
}
