// 默认宽屏播放 刷新生效
html[default-widescreen] {
    // 修复mini播放模式主播放器宽度支撑问题
    &[player-is-wide] #playerWrap:has(.bpx-player-container[data-screen='mini']) {
        width: fit-content;
    }
}

// 网页全屏时 页面可滚动 滚轮调音量失效 （Firefox 不适用）
html[webscreen-scrollable] {
    .webscreen-fix {
        position: unset;
        top: unset;
        left: unset;
        margin: unset;
        padding: unset;
        width: unset;
        height: unset;
    }
    .webscreen-fix #biliMainHeader {
        display: none;
    }
    .webscreen-fix #mirror-vdcon {
        box-sizing: content-box;
        position: relative;
    }
    .webscreen-fix #danmukuBox {
        margin-top: 0 !important;
    }
    .webscreen-fix :is(.left-container, .playlist-container--left) {
        position: static !important;
        padding-top: 100vh;
        min-width: 56vw !important;
    }
    .webscreen-fix :is(.left-container, .playlist-container--left) .video-info-container {
        height: fit-content;
    }
    .webscreen-fix :is(.left-container, .playlist-container--left) #bilibili-player.mode-webscreen {
        position: static;
        border-radius: unset;
        z-index: unset;
        left: unset;
        top: unset;
        width: 100%;
        height: 100%;
    }
    .webscreen-fix :is(.left-container, .playlist-container--left) #playerWrap {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        padding-right: 0;
    }
    .webscreen-fix :is(.right-container, .playlist-container--right) {
        padding-top: 100vh;
    }

    // 隐藏小窗
    .webscreen-fix .float-nav-exp .nav-menu .item.mini,
    .webscreen-fix .fixed-sidenav-storage .mini-player-window {
        display: none !important;
    }

    // 投币收藏弹窗
    .webscreen-fix .bili-dialog-m {
        z-index: 100000 !important;
    }

    // 滚动条
    .webscreen-fix::-webkit-scrollbar {
        display: none !important;
    }

    // firefox滚动条
    @supports (-moz-appearance: none) {
        body.webscreen-fix {
            scrollbar-width: none !important;
        }
    }
}

// 全屏时 页面可滚动 滚轮调音量失效 （实验功能，Firefox 不适用）
html[fullscreen-scrollable] {
    .webscreen-fix {
        position: unset;
        top: unset;
        left: unset;
        margin: unset;
        padding: unset;
        width: unset;
        height: unset;
    }
    .webscreen-fix #biliMainHeader {
        display: none;
    }
    .webscreen-fix #mirror-vdcon {
        box-sizing: content-box;
        position: relative;
    }
    .webscreen-fix #danmukuBox {
        margin-top: 0 !important;
    }
    .webscreen-fix :is(.left-container, .playlist-container--left) {
        position: static !important;
        padding-top: 100vh;
        min-width: 56vw !important;
    }
    .webscreen-fix :is(.left-container, .playlist-container--left) .video-info-container {
        height: fit-content;
    }
    .webscreen-fix :is(.left-container, .playlist-container--left) #bilibili-player.mode-webscreen {
        position: static;
        border-radius: unset;
        z-index: unset;
        left: unset;
        top: unset;
        width: 100%;
        height: 100%;
    }
    .webscreen-fix :is(.left-container, .playlist-container--left) #playerWrap {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        padding-right: 0;
    }
    .webscreen-fix :is(.right-container, .playlist-container--right) {
        padding-top: 100vh;
    }

    // 隐藏小窗
    .webscreen-fix .float-nav-exp .nav-menu .item.mini,
    .webscreen-fix .fixed-sidenav-storage .mini-player-window {
        display: none !important;
    }

    // 投币收藏弹窗
    .webscreen-fix .bili-dialog-m {
        z-index: 100000 !important;
    }

    // 滚动条
    .webscreen-fix::-webkit-scrollbar {
        display: none !important;
    }

    // firefox滚动条
    @supports (-moz-appearance: none) {
        body.webscreen-fix {
            scrollbar-width: none !important;
        }
    }
}

// 播放器和视频信息 交换位置
html[video-page-exchange-player-position] {
    body:not(.webscreen-fix) :is(.left-container, .playlist-container--left) {
        display: flex !important;
        flex-direction: column !important;
        padding-top: 35px !important;
    }
    body:not(.webscreen-fix) :is(.left-container, .playlist-container--left) > * {
        order: 1;
    }
    body:not(.webscreen-fix) #playerWrap {
        order: 0 !important;
        z-index: 1;
    }
    body:not(.webscreen-fix) .video-info-container {
        height: auto !important;
        padding-top: 16px !important;

        // 高权限消除展开标题的间距
        margin-bottom: 0 !important;
    }

    // fix #80 宽屏模式下播放器遮盖up主
    &[player-is-wide] body:not(.webscreen-fix) .up-panel-container {
        position: relative !important;

        /*
            拟合魔法，勿动
            videoWidth = innerWidth * 0.962339 - 359.514px
            videoHeight = max(min(calc(innerWidth * 0.962339 - 359.514px), 2010px), 923px) * 9/16 + 46px
        */
        margin-top: calc(max(min(calc(100vw * 0.9623 - 359.514px), 2010px), 923px) * 9 / 16 + 46px + 35px);
    }
    &[player-is-wide] body:not(.webscreen-fix) #danmukuBox {
        margin-top: 0 !important;
    }
}

// 普通播放 视频宽度调节
html[normalscreen-width] {
    /*
        需避免右侧视频预览 inline player 影响
        data-screen变化慢, 播放模式判断一律用:not(), 使用html元素的player-is-wide加快wide模式判断
    */

    // 左列宽度
    &:not([player-is-wide])
        :is(.left-container, .playlist-container--left):has(
            .bpx-player-container:not([data-screen='wide'], [data-screen='web'], [data-screen='full'])
        ) {
        flex-basis: min(calc(100vw - 400px), var(--normalscreen-width)) !important;
    }

    // 播放器长宽
    &:not([player-is-wide])
        :is(.left-container, .playlist-container--left):has(
            .bpx-player-container:not(
                    [data-screen='wide'],
                    [data-screen='web'],
                    [data-screen='full'],
                    [data-screen='mini']
                )
        )
        :is(.bpx-player-video-area, video) {
        width: 100% !important;
        height: unset !important;
        aspect-ratio: 16 / 9 !important;
    }

    // 播放器外层
    &:not([player-is-wide])
        :is(.left-container, .playlist-container--left):has(
            .bpx-player-container:not(
                    [data-screen='wide'],
                    [data-screen='web'],
                    [data-screen='full'],
                    [data-screen='mini']
                )
        )
        :is(.bpx-player-primary-area, .bpx-player-container, .bpx-docker-major, #bilibili-player, #playerWrap) {
        width: min(calc(100vw - 400px), var(--normalscreen-width)) !important;
        height: unset !important;
        min-height: calc(min(calc(100vw - 400px), var(--normalscreen-width)) * 9 / 16) !important;
    }
}
