// 隐藏 小窗播放开关
html[video-page-hide-sidenav-right-container-live] {
    .fixed-sidenav-storage .mini-player-window {
        display: none !important;
    }
    /* 适配watchlater, favlist */
    .float-nav-exp .nav-menu .item.mini {
        display: none !important;
    }
}

// 隐藏 客服
html[video-page-hide-sidenav-customer-service] {
    .fixed-sidenav-storage .customer-service {
        display: none !important;
    }
    /* 适配watchlater, favlist */
    .float-nav-exp .nav-menu a:has(> .item.help) {
        display: none !important;
    }
}

// 隐藏 回顶部
html[video-page-hide-sidenav-back-to-top] {
    .fixed-sidenav-storage .back-to-top {
        display: none !important;
    }
    /* 适配watchlater, favlist */
    .float-nav-exp .nav-menu .item.backup {
        display: none !important;
    }
}
