// 精简 分享按钮弹出菜单
html[video-page-simple-video-share-popover] {
    .video-share-popover .video-share-dropdown {
        .dropdown-bottom {
            display: none !important;
        }
        .dropdown-top {
            padding: 15px !important;
            .dropdown-top-right {
                display: none !important;
            }
            .dropdown-top-left {
                padding-right: 0 !important;
            }
        }
    }
}

// 隐藏 分享按钮弹出菜单
html[video-page-hide-video-share-popover] {
    .video-share-popover {
        display: none !important;
    }
}

// 隐藏 成为老粉按钮
html[video-page-hide-triple-oldfan-entry] {
    .triple-oldfan-entry {
        display: none !important;
    }
}

// 隐藏 官方AI总结
html[video-page-hide-below-info-video-ai-assistant] {
    .video-toolbar-right .video-ai-assistant {
        display: none !important;
    }
}

// 隐藏 举报按钮
html[video-page-hide-below-info-video-complaint] {
    .video-toolbar-right .video-complaint {
        display: none !important;
    }
}

// 隐藏 记笔记
html[video-page-hide-below-info-video-note] {
    .video-toolbar-right .video-note {
        display: none !important;
    }
}

// 隐藏 折叠菜单
html[video-page-hide-below-info-video-report-menu] {
    .video-toolbar-right .video-tool-more {
        display: none !important;
    }
}

// 展开 视频简介
html[video-page-unfold-below-info-desc] {
    #v_desc,
    .video-desc-container {
        margin-bottom: 0 !important;
        .basic-desc-info {
            height: auto !important;
        }
        .toggle-btn {
            display: none !important;
        }
    }
}

// 隐藏 视频简介
html[video-page-hide-below-info-desc] {
    #v_desc {
        display: none !important;
    }

    // 收藏夹和稍后再看
    .video-desc-container {
        display: none !important;
    }
}

// 隐藏 tag列表
html[video-page-hide-below-info-tag] {
    #v_tag,
    .video-tag-container {
        visibility: hidden !important;
        height: 0 !important;
        margin: 0 0 10px !important;
    }
}

// 隐藏 活动宣传
html[video-page-hide-below-activity-vote] {
    #activity_vote,
    .activity-m-v1 {
        display: none !important;
    }
}

// 隐藏 广告banner
html[video-page-hide-below-bannerAd] {
    #bannerAd,
    .left-container .left-banner {
        display: none !important;
    }
}
