// 隐藏 发消息
html[video-page-hide-up-sendmsg] {
    .up-detail .send-msg {
        display: none !important;
    }
}

// 隐藏 UP主简介
html[video-page-hide-up-description] {
    .up-detail .up-description {
        display: none !important;
    }
}

// 隐藏 充电
html[video-page-hide-up-charge] {
    .upinfo-btn-panel .new-charge-btn,
    .upinfo-btn-panel .old-charge-btn {
        display: none !important;
    }
}

// 隐藏 UP主头像外饰品
html[video-page-hide-up-bili-avatar-pendent-dom] {
    .up-info-container .bili-avatar-pendent-dom {
        display: none !important;
    }
    .up-avatar-wrap {
        width: 48px !important;
        height: 48px !important;
    }
    .up-avatar-wrap .up-avatar {
        background-color: transparent !important;
    }
    .up-avatar-wrap .bili-avatar {
        width: 48px !important;
        height: 48px !important;
        transform: unset !important;
    }
}

// 隐藏 UP主头像icon
html[video-page-hide-up-bili-avatar-icon] {
    .up-info-container .bili-avatar-icon {
        display: none !important;
    }
    .up-info-container .bili-avatar-nft-icon {
        display: none !important;
    }
}

// 隐藏 创作团队header
html[video-page-hide-up-membersinfo-normal-header] {
    .membersinfo-normal .header {
        display: none !important;
    }
}

// 隐藏 UP主用户卡片
html[video-page-hide-up-usercard] {
    .usercard-wrap {
        display: none !important;
    }
}
