// 隐藏 视频评论区 (播放页/番剧页)
html[video-page-hide-comment] {
    #commentapp bili-comments,
    #comment-module {
        display: none !important;
    }
}

// 隐藏 动态评论区 (动态页/空间页)
html[dynamic-page-hide-all-comment] {
    .bili-comment-container,
    .comment-wrap bili-comments {
        display: none !important;
    }
    .bili-opus-view {
        border-radius: 6px !important;
    }
    .opus-detail {
        margin-bottom: 10px !important;
        min-height: unset !important;
    }
    #app .content .dyn-tabs {
        display: none !important;
    }
    #app .content .card {
        padding-bottom: 30px !important;
    }
}
