// 4 列布局
html[watchlater-layout-4-column] {
    .watchlater-list-container:not(.watchlater-list-container--list) {
        grid-template-columns: repeat(4, 1fr) !important;
        gap: 25px 16px !important;
    }
}

// 5 列布局
html[watchlater-layout-5-column] {
    .watchlater-list-container:not(.watchlater-list-container--list) {
        grid-template-columns: repeat(5, 1fr) !important;
        gap: 25px 16px !important;
    }
}

// 增大 视频信息字号
html[watchlater-increase-font-size] {
    .bili-video-card {
        --bili-video-card-title-padding-right: 0;
        --bili-video-card-title-font-size: 16px;
        --bili-video-card-subtitle-font-size: 14px;
    }
    .bili-cover-card__stat {
        --bili-cover-card-stat-font-size: 14px;
    }
    .bili-cover-card__progress {
        --bili-cover-card-progress-height: 3.5px;
    }
}
