#bili-cleaner-context-menu-container {
    position: fixed;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    user-select: none;
    overflow: hidden;
    z-index: 99999;
    ul {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 0;
    }
    li {
        padding: 5px 10px;
        font-size: 1rem;
        &:hover {
            background: rgb(251, 114, 153);
            font-weight: 500;
            color: white;
        }
    }
}
