#bili-cleaner {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max(32vw, 300px);
    height: 90vh;
    border-radius: 10px;
    background: #f4f5f7;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    overflow: auto;
    z-index: 2147483640;
}
#bili-cleaner #bili-cleaner-bar {
    width: max(32vw, 300px);
    height: 6vh;
    background: #fb7299;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#bili-cleaner #bili-cleaner-bar #bili-cleaner-title {
    width: max(32vw, 300px);
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}
#bili-cleaner #bili-cleaner-bar #bili-cleaner-title span {
    text-align: center;
}
#bili-cleaner #bili-cleaner-bar #bili-cleaner-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 6vh;
    height: 6vh;
    border-radius: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: auto;
}
#bili-cleaner #bili-cleaner-bar #bili-cleaner-close:hover {
    background: rgba(255, 255, 255, 0.2);
}
#bili-cleaner #bili-cleaner-bar #bili-cleaner-close svg {
    text-align: center;
}
#bili-cleaner #bili-cleaner-group-list {
    height: 84vh;
    overflow: auto;
    scrollbar-width: none !important;
}
#bili-cleaner #bili-cleaner-group-list::-webkit-scrollbar {
    display: none;
}
#bili-cleaner #bili-cleaner-group-list .bili-cleaner-group {
    margin: 14px;
    background: #fff;
    border-radius: 6px;
    padding: 8px 16px;
    border: 1px solid #ddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#bili-cleaner #bili-cleaner-group-list .bili-cleaner-group hr {
    border: 1px solid #eee;
    margin: 5px 0 10px 0;
}
#bili-cleaner #bili-cleaner-group-list .bili-cleaner-group .bili-cleaner-group-title {
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    color: #000;
    letter-spacing: 1px;
}
#bili-cleaner #bili-cleaner-group-list .bili-cleaner-group .bili-cleaner-item-list label {
    display: flex;
    align-items: center;
    margin: 6px 0 6px 10px;
    font-size: 16px;
    color: #000;
}
#bili-cleaner #bili-cleaner-group-list .bili-cleaner-group .bili-cleaner-item-list hr {
    border: 1px solid #eee;
    margin: 15px 20px;
}
#bili-cleaner #bili-cleaner-group-list .bili-cleaner-group .bili-cleaner-item-checkbox {
    width: 50px;
    min-width: 50px;
    height: 27px;
    margin: 0 1em 0 0;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 50px;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#bili-cleaner #bili-cleaner-group-list .bili-cleaner-group .bili-cleaner-item-checkbox:before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
#bili-cleaner #bili-cleaner-group-list .bili-cleaner-group .bili-cleaner-item-checkbox:checked {
    border-color: #fb7299;
    box-shadow: #fb7299 0 0 0 16px inset;
    background-color: #fb7299;
}
#bili-cleaner #bili-cleaner-group-list .bili-cleaner-group .bili-cleaner-item-checkbox:checked:before {
    left: 25px;
}
#bili-cleaner #bili-cleaner-group-list .bili-cleaner-group .bili-cleaner-item-number {
    width: 50px;
    min-width: 50px;
    height: 27px;
    margin: 0 0.5em 0 0.5em;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 5px;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    text-align: center;
    color: blue;
    font-size: 16px;
    -moz-appearance: textfield;
}
#bili-cleaner #bili-cleaner-group-list .bili-cleaner-group .bili-cleaner-item-number::-webkit-inner-spin-button,
#bili-cleaner #bili-cleaner-group-list .bili-cleaner-group .bili-cleaner-item-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
#bili-cleaner #bili-cleaner-group-list .bili-cleaner-group .bili-cleaner-item-button {
    width: 50px;
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 0 1em 0 0;
    outline: none;
    padding: 5px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition:
        box-shadow 0.2s,
        transform 0.1s;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
#bili-cleaner #bili-cleaner-group-list .bili-cleaner-group .bili-cleaner-item-button:active {
    background-color: #f7f7f7;
    border-color: #000;
    transform: scale(0.96);
}
#bili-cleaner-wordlist {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: 2147483641;
}
#bili-cleaner-wordlist .wordlist-header {
    background-color: #fb7299;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    height: 100%;
    width: 100%;
    line-height: 36px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#bili-cleaner-wordlist .wordlist-description {
    font-size: 18px;
    margin: 6px auto;
    line-height: 18px;
    text-align: center;
}
#bili-cleaner-wordlist textarea.wordlist-body {
    width: 340px;
    height: 400px;
    margin: 0 12px;
    border: 2px solid #ccc;
    overflow-y: scroll;
    font-size: 18px;
    line-height: 28px;
    padding: 5px 10px;
    flex-grow: 1;
    resize: none;
}
#bili-cleaner-wordlist textarea.wordlist-body:focus {
    outline: none !important;
}
#bili-cleaner-wordlist .wordlist-footer {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10px;
    align-items: center;
}
#bili-cleaner-wordlist .wordlist-footer button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #666;
    font-size: 18px;
}
#bili-cleaner-wordlist .wordlist-footer button:hover {
    background-color: #666;
    color: #fff;
}
