// 未使用css-loader等工具
// scss to css生成后, 把css手动贴进代码里:D

// $theme-color: rgb(251, 114, 153);
$theme-color: rgb(0, 174, 236);

#bili-cleaner {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max(32vw, 300px);
    height: 90vh;
    border-radius: 10px;
    background: #f4f5f7;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    overflow: auto;
    z-index: 2147483640;
    // disable scroll chaining, #33
    overscroll-behavior: contain;

    & #bili-cleaner-bar {
        width: max(32vw, 300px);
        height: 6vh;
        background: $theme-color;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: move;
        user-select: none;

        & #bili-cleaner-title {
            width: max(32vw, 300px);
            height: 6vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
            font-size: 22px;
            & span {
                text-align: center;
            }
        }

        & #bili-cleaner-close {
            position: absolute;
            top: 0;
            right: 0;
            width: 6vh;
            height: 6vh;
            border-radius: 6vh;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: auto;
            &:hover {
                background: rgba(255, 255, 255, 0.2);
            }
            & svg {
                text-align: center;
            }
        }
    }
    & #bili-cleaner-group-list {
        height: 84vh;
        overflow: auto;
        scrollbar-width: none !important;
        // disable scroll chaining, #33
        overscroll-behavior: contain;
        &::-webkit-scrollbar {
            display: none;
        }
        & .bili-cleaner-group {
            margin: 14px;
            background: white;
            border-radius: 6px;
            padding: 8px 16px;
            border: 1px solid #ddd;
            user-select: none;
            & hr {
                border: 1px solid #eee;
                margin: 5px 0 10px 0;
            }

            & .bili-cleaner-group-title {
                font-size: 20px;
                font-weight: bold;
                padding: 2px;
                color: black;
                letter-spacing: 1px;
            }
            & .bili-cleaner-item-list {
                & label {
                    display: flex;
                    align-items: center;
                    margin: 6px 0 6px 10px;
                    font-size: 16px;
                    color: black;
                }
                & hr {
                    border: 1px solid #eee;
                    margin: 15px 20px;
                }
            }
            // 开关项样式
            & .bili-cleaner-item-checkbox {
                width: 50px;
                min-width: 50px;
                height: 27px;
                margin: 0 1em 0 0;
                position: relative;
                border: 1px solid #dfdfdf;
                background-color: #fdfdfd;
                box-shadow: #dfdfdf 0 0 0 0 inset;
                border-radius: 50px;
                appearance: none;
                -webkit-appearance: none;
                user-select: none;
                &:before {
                    content: '';
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    border-radius: 50px;
                    background-color: white;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
                }
                &:checked {
                    border-color: $theme-color;
                    box-shadow: $theme-color 0 0 0 16px inset;
                    background-color: $theme-color;
                }
                &:checked:before {
                    left: 25px;
                }
            }
            // 数值设定项样式
            & .bili-cleaner-item-number {
                width: 50px;
                min-width: 50px;
                height: 27px;
                margin: 0 0.5em 0 0.5em;
                position: relative;
                border: 1px solid #dfdfdf;
                background-color: #fdfdfd;
                box-shadow: #dfdfdf 0 0 0 0 inset;
                border-radius: 5px;
                appearance: none;
                -webkit-appearance: none;
                text-align: center;
                color: blue;
                font-size: 16px;
                -moz-appearance: textfield;
                &::-webkit-inner-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }
            // 按钮项样式
            & .bili-cleaner-item-button {
                width: 50px;
                background-color: #ffffff;
                border: 1px solid #666;
                border-radius: 6px;
                box-sizing: border-box;
                cursor: pointer;
                display: inline-block;
                font-size: 16px;
                margin: 0 1em 0 0;
                outline: none;
                padding: 5px 0;
                position: relative;
                text-align: center;
                text-decoration: none;
                touch-action: manipulation;
                transition:
                    box-shadow 0.2s,
                    -ms-transform 0.1s,
                    -webkit-transform 0.1s,
                    transform 0.1s;
                user-select: none;
                -webkit-user-select: none;
                &:active {
                    background-color: #f7f7f7;
                    border-color: #000000;
                    transform: scale(0.96);
                }
            }
        }
    }
}

// 列表编辑器, 简单样式
#bili-cleaner-wordlist {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: 2147483641;
    overscroll-behavior: contain;

    & .wordlist-header {
        background-color: $theme-color;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        margin: 0;
        height: 100%;
        width: 100%;
        line-height: 36px;
        text-align: center;
        user-select: none;
    }
    & .wordlist-description {
        font-size: 16px;
        margin: 6px auto;
        line-height: 18px;
        text-align: center;
    }
    & textarea.wordlist-body {
        width: 400px;
        height: 500px;
        margin: 0 12px;
        border: 2px solid #ccc;
        overflow-y: scroll;
        font-size: 16px;
        line-height: 22px;
        padding: 5px 10px;
        flex-grow: 1;
        resize: none;
        overscroll-behavior: contain;

        &:focus {
            outline: none !important;
        }
    }

    & .wordlist-footer {
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        padding: 0 10px;
        align-items: center;

        & button {
            width: 100px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid #666;
            font-size: 18px;
            &:hover {
                background-color: #666;
                color: white;
            }
        }
    }
}
