button.bili-cleaner-side-btn {
    border: 1px #e3e5e7 solid;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 13px;
    color: black;
    border-radius: 6px;
    background-color: white;
    transition: background-color 0.1s linear;
    position: fixed;
    bottom: 220px;
    right: 6px;
    z-index: 99999;
    cursor: pointer;
    &:hover {
        background-color: #e3e5e7;
        cursor: pointer;
    }
}
/* 全屏播放时隐藏 */
html:has(#bilibili-player.mode-webscreen) button.bili-cleaner-side-btn {
    display: none !important;
}
