// 隐藏 视频tag
html[homepage-hide-up-info-icon-bilibili-app-recommend] {
    .bilibili-app-recommend-root .bili-video-card__info--owner + span {
        display: none;
    }
}

// 隐藏 弹幕数
html[homepage-hide-danmaku-count-bilibili-app-recommend] {
    .bilibili-app-recommend-root
        .bili-video-card:has(use)
        .bili-video-card__stats--item:has([href='#widget-video-danmaku']) {
        display: none !important;
    }
}

// 隐藏 点赞数
html[homepage-hide-agree-count-bilibili-app-recommend] {
    .bilibili-app-recommend-root .bili-video-card:has(use) .bili-video-card__stats--item:has([href='#widget-agree']) {
        display: none !important;
    }
}
