// 隐藏 下载桌面端弹窗
html[homepage-hide-desktop-download-tip] {
    .desktop-download-tip {
        display: none !important;
    }
}

// 隐藏 下滑浏览推荐提示
html[homepage-hide-trial-feed-wrap] {
    .trial-feed-wrap {
        display: none !important;
    }
}

// 隐藏 换一换
html[homepage-hide-feed-roll-btn] {
    .feed-roll-btn {
        display: none !important;
    }
}

// 隐藏 稍后再看
html[homepage-hide-watchlater-pip-button] {
    .watchlater-pip-button {
        display: none !important;
    }
}

// 隐藏 广告
html[homepage-hide-adcard-button] {
    .adcard,
    .fixed-card .btn-ad,
    .palette-button-adcard,
    .palette-button-wrap .adcard-content {
        display: none !important;
    }
}

// 隐藏 刷新按钮文字提示
html[homepage-hide-flexible-roll-btn-text] {
    .palette-button-wrap .flexible-roll-btn .btn-text {
        display: none !important;
    }
}

// 隐藏 刷新按钮
html[homepage-hide-flexible-roll-btn] {
    .palette-button-wrap .flexible-roll-btn {
        display: none !important;
    }
}

// 隐藏 客服和反馈
html[homepage-hide-feedback] {
    .palette-button-wrap .storage-box {
        display: none !important;
    }
}

// 隐藏 回顶部
html[homepage-hide-top-btn] {
    .palette-button-wrap .top-btn-wrap {
        display: none !important;
    }
}
