// 隐藏 横幅banner
html[homepage-hide-banner] {
    #biliMainHeader {
        min-height: unset !important;
    }
    .bili-header {
        .bili-header__bar {
            // 兼容顶栏不吸附，不得使用 important
            position: fixed;
            transition: unset !important;
            background: var(--bg1, white) !important;
            box-shadow: 0 2px 4px rgb(128 128 128 / 0.15) !important;
            &.slide-down {
                animation: none !important;
                box-shadow: 0 2px 4px rgb(128 128 128 / 0.15) !important;
            }
            .left-entry {
                :is(.entry-title, .download-entry, .default-entry, .loc-entry) {
                    color: var(--text1, #18191c) !important;
                }
                .zhuzhan-icon {
                    color: #00aeec !important;
                }
            }
            .right-entry .right-entry__outside {
                .right-entry-icon {
                    color: var(--text1, #18191c) !important;
                }
                .right-entry-text {
                    color: var(--text2, #61666d) !important;
                }
            }
        }
        .bili-header__banner {
            min-height: unset !important;
            height: 64px !important;
            background: var(--bg1, white) !important;
            & > * {
                display: none !important;
            }
        }
    }
}

// 隐藏 滚动页面时 顶部吸附顶栏
html[homepage-hide-sticky-header] {
    .bili-header {
        .bili-header__bar {
            position: absolute !important;
            background: transparent;
            transition: none !important;
            &.slide-down {
                box-shadow: none !important;
                animation: none !important;
            }
            .left-entry {
                :is(.entry-title, .download-entry, .default-entry, .loc-entry, .zhuzhan-icon) {
                    color: white;
                }
            }
            .right-entry .right-entry__outside {
                .right-entry-icon,
                .right-entry-text {
                    color: white;
                }
            }
        }
    }
}

// 隐藏 tips
html[popular-hide-tips] {
    .popular-list .popular-tips,
    .rank-container .rank-tips,
    .history-list .history-tips {
        display: none !important;
    }
    .rank-container .rank-tab-wrap {
        margin-bottom: 0 !important;
        padding: 10px 0 !important;
    }
}

// 隐藏 弹幕数
html[popular-hide-danmaku-count] {
    .popular-list .video-stat .like-text,
    .weekly-list .video-stat .like-text,
    .history-list .video-stat .like-text,
    .rank-list .rank-item .detail-state .data-box:nth-child(2) {
        display: none !important;
    }
    .rank-list .rank-item .detail-state .data-box:nth-child(1) {
        margin: 0 !important;
    }
    .video-card .video-stat .play-text {
        margin-right: 0 !important;
    }
}
