// 隐藏 视频tag (人气飙升/1万点赞)
html[popular-hot-hide-tag] {
    .popular-list .rcmd-tag {
        display: none !important;
    }
}

// 隐藏 一句话简介
html[popular-weekly-hide-hint] {
    .weekly-list .weekly-hint {
        display: none !important;
    }
}

// 隐藏 一句话简介
html[popular-history-hide-hint] {
    .history-list .history-hint {
        display: none !important;
    }
}
