// 网页全屏时 页面可滚动 滚轮调音量失效
html[webscreen-scrollable] {
    body:has(#bilibili-player-wrap[class*='video_playerFullScreen']) {
        overflow: auto !important;
        position: relative !important;
    }
    body:has(#bilibili-player-wrap[class*='video_playerFullScreen']) #bilibili-player-wrap {
        position: absolute !important;
        width: 100vw !important;
        height: 100vh !important;
    }
    body:has(#bilibili-player-wrap[class*='video_playerFullScreen']) .main-container {
        position: static !important;
        margin: 0 auto !important;
        padding-top: calc(100vh + 15px) !important;
    }
    body:has(#bilibili-player-wrap[class*='video_playerFullScreen']) .bpx-player-video-area {
        flex: unset !important;
    }
    body:has(#bilibili-player-wrap[class*='video_playerFullScreen'])::-webkit-scrollbar {
        display: none !important;
    }

    // firefox
    @supports (-moz-appearance: none) {
        body:has(#bilibili-player-wrap[class*='video_playerFullScreen']) {
            scrollbar-width: none !important;
        }
    }
}

// 全屏时 页面可滚动 滚轮调音量失效
html[fullscreen-scrollable] {
    body:has(#bilibili-player-wrap[class*='video_playerFullScreen']) {
        overflow: auto !important;
        position: relative !important;
    }
    body:has(#bilibili-player-wrap[class*='video_playerFullScreen']) .home-container {
        background-color: white;
    }
    body:has(#bilibili-player-wrap[class*='video_playerFullScreen']) #bilibili-player-wrap {
        position: absolute !important;
        width: 100vw !important;
        height: 100vh !important;
    }
    body:has(#bilibili-player-wrap[class*='video_playerFullScreen']) .main-container {
        position: static !important;
        margin: 0 auto !important;
        padding-top: calc(100vh + 15px) !important;
    }
    body:has(#bilibili-player-wrap[class*='video_playerFullScreen']) .bpx-player-video-area {
        flex: unset !important;
    }
    body:has(#bilibili-player-wrap[class*='video_playerFullScreen'])::-webkit-scrollbar {
        display: none !important;
    }

    // firefox
    @supports (-moz-appearance: none) {
        body:has(#bilibili-player-wrap[class*='video_playerFullScreen']) {
            scrollbar-width: none !important;
        }
    }
}
