// 隐藏 上一个视频
html[video-page-hide-bpx-player-ctrl-prev] {
    .bpx-player-ctrl-prev {
        display: none !important;
    }
}

// 隐藏 播放/暂停
html[video-page-hide-bpx-player-ctrl-play] {
    .bpx-player-ctrl-play {
        display: none !important;
    }
}

// 隐藏 下一个视频
html[video-page-hide-bpx-player-ctrl-next] {
    .bpx-player-ctrl-next {
        display: none !important;
    }
}

// 隐藏 Hi-Res无损
html[video-page-hide-bpx-player-ctrl-flac] {
    .bpx-player-ctrl-flac {
        display: none !important;
    }
}

// 隐藏 清晰度
html[video-page-hide-bpx-player-ctrl-quality] {
    .bpx-player-ctrl-quality {
        display: none !important;
    }
}

// 隐藏 选集
html[video-page-hide-bpx-player-ctrl-eplist] {
    .bpx-player-ctrl-eplist {
        display: none !important;
    }
}

// 隐藏 倍速
html[video-page-hide-bpx-player-ctrl-playbackrate] {
    .bpx-player-ctrl-playbackrate {
        display: none !important;
    }
}

// 隐藏 字幕
html[video-page-hide-bpx-player-ctrl-subtitle] {
    .bpx-player-ctrl-subtitle {
        display: none !important;
    }
}

// 隐藏 音量
html[video-page-hide-bpx-player-ctrl-volume] {
    .bpx-player-ctrl-volume {
        display: none !important;
    }
}

// 隐藏 视频设置
html[video-page-hide-bpx-player-ctrl-setting] {
    .bpx-player-ctrl-setting {
        display: none !important;
    }
}

// 隐藏 画中画(Chrome)
html[video-page-hide-bpx-player-ctrl-pip] {
    .bpx-player-ctrl-pip {
        display: none !important;
    }
}

// 隐藏 宽屏
html[video-page-hide-bpx-player-ctrl-wide] {
    .bpx-player-ctrl-wide {
        display: none !important;
    }
}

// 隐藏 网页全屏
html[video-page-hide-bpx-player-ctrl-web] {
    .bpx-player-ctrl-web {
        display: none !important;
    }
}

// 隐藏 全屏
html[video-page-hide-bpx-player-ctrl-full] {
    .bpx-player-ctrl-full {
        display: none !important;
    }
}

// 隐藏 高能进度条 图钉按钮
html[video-page-hide-bpx-player-pbp-pin] {
    .bpx-player-pbp-pin {
        display: none !important;
    }
}

// 隐藏 底边mini视频进度
html[video-page-hide-bpx-player-shadow-progress-area] {
    .bpx-player-shadow-progress-area {
        display: none !important;
    }
}
