// 隐藏 大会员按钮 ★
html[bangumi-page-hide-right-container-section-height] {
    .plp-r [class^='vipPaybar_'],
    .plp-r [class^='paybar_'] {
        display: none !important;
    }
}

// 隐藏 弹幕列表
html[video-page-hide-right-container-danmaku] {
    #danmukuBox {
        display: none !important;
    }
}

// 隐藏 视频列表 会员/限免标记 ★
html[bangumi-page-hide-eplist-badge] {
    [class^='eplist_ep_list_wrapper'] [class^='imageListItem_badge']:not([style*='#00C0FF']) {
        display: none !important;
    }
    [class^='eplist_ep_list_wrapper'] [class^='numberListItem_badge']:not([style*='#00C0FF']) {
        display: none !important;
    }
}

// 隐藏 相关作品推荐 ★
html[bangumi-page-hide-recommend] {
    .plp-r [class^='recommend_wrap'] {
        display: none !important;
    }
}
