// 精简 分享按钮弹出菜单
html[video-page-simple-video-share-popover] {
    #share-container-id {
        [class^='Share_boxBottom'] {
            display: none !important;
        }
        [class^='Share_boxTop'] {
            padding: 15px !important;
        }
        [class^='Share_boxTopRight'] {
            display: none !important;
        }
        [class^='Share_boxTopLeft'] {
            padding: 0 !important;
        }
    }
}

// 隐藏 分享按钮弹出菜单
html[video-page-hide-video-share-popover] {
    #share-container-id [class^='Share_share'] {
        display: none !important;
    }
}

// 隐藏 一起看 ★
html[bangumi-page-hide-watch-together] {
    .toolbar span:has(> #watch_together_tab) {
        display: none !important;
    }
}

// 隐藏 工具栏(赞币转) ★
html[bangumi-page-hide-toolbar] {
    .player-left-components .toolbar {
        display: none !important;
    }
}

// 隐藏 作品介绍 ★
html[bangumi-page-hide-media-info] {
    [class^='mediainfo_mediaInfo'] {
        display: none !important;
    }
}

// 精简 作品介绍 ★
html[bangumi-page-simple-media-info] {
    [class^='mediainfo_btnHome'],
    [class^='upinfo_upInfoCard'] {
        display: none !important;
    }
    [class^='mediainfo_score'] {
        font-size: 25px !important;
    }
    [class^='mediainfo_mediaDesc']:has(+ [class^='mediainfo_media_desc_section']) {
        visibility: hidden !important;
        height: 0 !important;
        margin-bottom: 8px !important;
    }
    [class^='mediainfo_media_desc_section'] {
        height: 60px !important;
    }
}

// 隐藏 承包榜 ★
html[bangumi-page-hide-sponsor-module] {
    #sponsor_module {
        display: none !important;
    }
}
