// 隐藏 头像
html[common-hide-nav-avatar] {
    .right-entry .v-popover-wrap.header-avatar-wrap {
        display: none !important;
    }

    // 旧版header
    #internationalHeader .nav-user-center .item:has(.mini-avatar) {
        display: none !important;
    }
}

// 隐藏 大会员
html[common-hide-nav-vip] {
    .right-entry .vip-wrap:has([href*="//account.bilibili.com/big"])
    {
        display: none !important;
    }

    // 旧版header
    #internationalHeader .nav-user-center .item:has(.mini-vip) {
        display: none !important;
    }
}

// 隐藏 消息
html[common-hide-nav-message] {
    .right-entry .v-popover-wrap:has([href*="//message.bilibili.com"], [data-idx="message"])
    {
        display: none !important;
    }

    // 旧版header
    #internationalHeader .nav-user-center .item:has(.nav-item-message) {
        display: none !important;
    }
}

// 隐藏 消息小红点
html[common-hide-nav-message-red-num] {
    .right-entry .v-popover-wrap:has([href*="//message.bilibili.com"], [data-idx="message"]) :is(.red-num--message, .red-point--message)
    {
        display: none !important;
    }

    // 旧版header
    #internationalHeader .nav-user-center .nav-item-message .num {
        display: none !important;
    }
}

// 隐藏 动态
html[common-hide-nav-dynamic] {
    .right-entry .v-popover-wrap:has([href*="//t.bilibili.com"], [data-idx="dynamic"])
    {
        display: none !important;
    }

    // 旧版header
    #internationalHeader .nav-user-center .item:has(.nav-item-dynamic) {
        display: none !important;
    }
}

// 隐藏 动态小红点
html[common-hide-nav-dynamic-red-num] {
    .right-entry .v-popover-wrap:has([href*="//t.bilibili.com"], [data-idx="dynamic"]) .red-num--dynamic
    {
        display: none !important;
    }

    // 旧版header
    #internationalHeader .nav-user-center .nav-item-dynamic .num {
        display: none !important;
    }
}

// 隐藏 收藏
html[common-hide-nav-favorite] {
    .right-entry .v-popover-wrap:has(.right-entry__outside[href$='/favlist']) {
        display: none !important;
    }

    // 旧版header
    #internationalHeader .nav-user-center .item:has(.mini-favorite) {
        display: none !important;
    }
}

// 隐藏 历史
html[common-hide-nav-history] {
    .right-entry .v-popover-wrap:has([href*='www.bilibili.com/account/history'], [data-idx='history']) {
        display: none !important;
    }

    // 旧版header
    #internationalHeader .nav-user-center .item:has(.mini-history) {
        display: none !important;
    }
}

// 隐藏 创作中心
html[common-hide-nav-member] {
    .right-entry .right-entry-item:has(a[href*="//member.bilibili.com/platform/home"], [data-idx="creation"])
    {
        display: none !important;
    }

    // 旧版header
    #internationalHeader .nav-user-center .item:has(a[href*='member.bilibili.com/platform/home']) {
        display: none !important;
    }
}

// 隐藏 投稿
html[common-hide-nav-upload] {
    .right-entry .right-entry-item.right-entry-item--upload {
        visibility: hidden !important;
    }

    // 旧版header
    #internationalHeader .nav-user-center > div:has(.mini-upload) {
        visibility: hidden !important;
    }

    // 番剧页
    [class^='BiliHeaderV3_headerUploadEntry'] {
        visibility: hidden !important;
    }
}
