// 隐藏 主站Logo
html[common-hide-nav-homepage-logo] {
    .bili-header__bar .left-entry li:has(>a[href="//www.bilibili.com"]) .left-entry__title>svg
    {
        display: none !important;
    }

    // 首页版本
    .bili-header__bar .left-entry .zhuzhan-icon {
        display: none !important;
    }

    // 旧版header
    #internationalHeader li.nav-link-item:has(>span>a[href="//www.bilibili.com"], >span>a[href="www.bilibili.com/"]) .navbar_logo
    {
        display: none !important;
    }
    #biliMainHeader .left-entry .v-popover-wrap a[href="https://www.bilibili.com/"]>svg
    {
        display: none !important;
    }

    // 番剧页
    [class^='BiliHeaderV3_leftEntryTitle__'] > svg {
        display: none !important;
    }
}

// 隐藏 首页
html[common-hide-nav-homepage] {
    .bili-header__bar .left-entry .mini-header__title {
        display: none !important;
    }

    // 首页版本
    .bili-header__bar .left-entry .zhuzhan-icon + span {
        display: none !important;
    }

    // 旧版header
    #internationalHeader li.nav-link-item:has(>span>a[href="//www.bilibili.com"]) :not(svg)
    {
        color: transparent;
        user-select: none;
    }
    #internationalHeader li.nav-link-item:has(>span>a[href="//www.bilibili.com"]) .navbar_pullup
    {
        display: none !important;
    }
    #biliMainHeader .left-entry .v-popover-wrap a[href="https://www.bilibili.com/"] .mini-header__title
    {
        display: none !important;
    }
    #biliMainHeader .bili-header .left-entry__title .mini-header__logo {
        margin-right: 0 !important;
    }

    // 番剧页
    [class^='BiliHeaderV3_leftEntryTitle__'] > div {
        display: none !important;
    }
}

// 隐藏 番剧
html[common-hide-nav-anime] {
    .bili-header__bar .left-entry li:has(.default-entry[href="//www.bilibili.com/anime/"])
    {
        display: none !important;
    }

    // 旧版header
    #internationalHeader li.nav-link-item:has(> a[href*='bilibili.com/anime']) {
        display: none !important;
    }
    #biliMainHeader .left-entry .v-popover-wrap:has(> a[href*='bilibili.com/anime']) {
        display: none !important;
    }

    // 番剧页
    [class^='BiliHeaderV3_leftEntry__'] li:has(a[href*='bilibili.com/anime']) {
        display: none !important;
    }
}

// 隐藏 直播
html[common-hide-nav-live] {
    .bili-header__bar .left-entry li:has(.default-entry[href="//live.bilibili.com"], .default-entry[href="//live.bilibili.com/"])
    {
        display: none !important;
    }

    // 旧版header
    #internationalHeader li.nav-link-item:has(> span > a[href*='live.bilibili.com']) {
        display: none !important;
    }
    #biliMainHeader .left-entry .v-popover-wrap:has(> a[href*='live.bilibili.com']) {
        display: none !important;
    }

    // 番剧页
    [class^='BiliHeaderV3_leftEntry__'] li:has(a[href*='live.bilibili.com']) {
        display: none !important;
    }
}

// 隐藏 游戏中心
html[common-hide-nav-game] {
    .bili-header__bar .left-entry li:has(.default-entry[href^="//game.bilibili.com"])
    {
        display: none !important;
    }

    // 旧版header
    #internationalHeader li.nav-link-item:has(> span > a[href*='game.bilibili.com']) {
        display: none !important;
    }
    #biliMainHeader .left-entry .v-popover-wrap:has(> a[href*='game.bilibili.com']) {
        display: none !important;
    }

    // 番剧页
    [class^='BiliHeaderV3_leftEntry__'] li:has(a[href*='game.bilibili.com']) {
        display: none !important;
    }
}

// 隐藏 会员购
html[common-hide-nav-vipshop] {
    .bili-header__bar .left-entry li:has(.default-entry[href^="//show.bilibili.com"])
    {
        display: none !important;
    }

    // 旧版header
    #internationalHeader li.nav-link-item:has(> a[href*='show.bilibili.com']) {
        display: none !important;
    }
    #biliMainHeader .left-entry .v-popover-wrap:has(> a[href*='show.bilibili.com']) {
        display: none !important;
    }

    // 番剧页
    [class^='BiliHeaderV3_leftEntry__'] li:has(a[href*='show.bilibili.com']) {
        display: none !important;
    }
}

// 隐藏 漫画
html[common-hide-nav-manga] {
    .bili-header__bar .left-entry li:has(.default-entry[href^="//manga.bilibili.com"])
    {
        display: none !important;
    }

    // 旧版header
    #internationalHeader li.nav-link-item:has(> span > a[href*='manga.bilibili.com']) {
        display: none !important;
    }
    #biliMainHeader .left-entry .v-popover-wrap:has(> a[href*='manga.bilibili.com']) {
        display: none !important;
    }

    // 番剧页
    [class^='BiliHeaderV3_leftEntry__'] li:has(a[href*='manga.bilibili.com']) {
        display: none !important;
    }
}

// 隐藏 赛事
html[common-hide-nav-match] {
    .bili-header__bar .left-entry li:has(.default-entry[href^="//www.bilibili.com/match/"], .default-entry[href^="//www.bilibili.com/v/game/match/"])
    {
        display: none !important;
    }

    // 旧版header
    #internationalHeader li.nav-link-item:has(> a[href*='bilibili.com/match/']) {
        display: none !important;
    }
    #biliMainHeader .left-entry .v-popover-wrap:has(> a[href*='bilibili.com/match/']) {
        display: none !important;
    }

    // 番剧页
    [class^='BiliHeaderV3_leftEntry__'] li:has(a[href*='www.bilibili.com/v/game/match']) {
        display: none !important;
    }
}

// 隐藏 活动/活动直播
html[common-hide-nav-moveclip] {
    .bili-header__bar li:has(.loc-mc-box) {
        display: none !important;
    }
    .bili-header__bar .left-entry li.left-loc-entry:not(:has(.v-popover)):has([href^="https://live.bilibili.com/"])
    {
        display: none !important;
    }
    .bili-header__bar .left-entry li:not(:has(.v-popover)):has([href^="https://www.bilibili.com/bangumi/play/ss"])
    {
        display: none !important;
    }

    // 旧版header
    #internationalHeader li.nav-link-item:has(a[href*='live.bilibili.com/blackboard']) {
        display: none !important;
    }
}

// 隐藏 百大评选
html[common-hide-nav-bdu] {
    .bili-header__bar .left-entry li:has(> div > a[href*='bilibili.com/BPU20']) {
        display: none !important;
    }
}

// 隐藏 BML
html[common-hide-nav-bml] {
    .bili-header__bar .left-entry li:has(> div > a[href*='bml.bilibili.com']) {
        display: none !important;
    }
    #internationalHeader li.nav-link-item:has(a[href*='bml.bilibili.com']) {
        display: none !important;
    }
}

// 隐藏 下载客户端
html[common-hide-nav-download-app] {
    .bili-header__bar .left-entry li:has(a[href="//app.bilibili.com"])
    {
        display: none !important;
    }

    // 旧版header
    #internationalHeader li.nav-link-item:has(a[href*='app.bilibili.com']) {
        display: none !important;
    }
    #biliMainHeader .left-entry .v-popover-wrap:has(> a[href*='app.bilibili.com']) {
        display: none !important;
    }
}

// 隐藏 所有官方活动(强制)
html[common-hide-nav-blackboard] {
    .bili-header__bar .left-entry .v-popover-wrap.left-loc-entry {
        display: none !important;
    }
    .bili-header__bar .left-entry li:has(> a[href*='bilibili.com/blackboard']) {
        display: none !important;
    }
    .bili-header__bar .left-entry li:has(> div > a[href*='bilibili.com/blackboard']) {
        display: none !important;
    }
    .bili-header__bar .left-entry li:has(> a[href*='bilibili.com/video/']) {
        display: none !important;
    }
    .bili-header__bar .left-entry li:has(> div > a[href*='bilibili.com/video/']) {
        display: none !important;
    }

    // 旧版header
    #internationalHeader .nav-link-item:has(.loc-mc-box, span > a[href*='bilibili.com/blackboard']) {
        display: none !important;
    }
    #internationalHeader .nav-link-item:has(.loc-mc-box, span > a[href*='www.bilibili.com/bangumi/play/ss']) {
        display: none !important;
    }
}

// 隐藏 首页弹出框
html[common-hide-nav-channel-panel-popover] {
    .bili-header .left-entry .bili-header-channel-panel {
        display: none !important;
    }
    .bili-header .left-entry .mini-header__title .mini-header__arrow {
        display: none !important;
    }
}

// 隐藏 番剧弹出框
html[common-hide-nav-anime-popover] {
    .bili-header__bar .left-entry .default-entry[href*="//www.bilibili.com/anime/"] + .v-popover
    {
        display: none !important;
    }
}

// 隐藏 直播弹出框
html[common-hide-nav-live-popover] {
    .bili-header__bar .left-entry :is(.default-entry[href*="//live.bilibili.com"]) + .v-popover
    {
        display: none !important;
    }
}

// 隐藏 游戏中心弹出框
html[common-hide-nav-game-popover] {
    .bili-header__bar .left-entry .default-entry[href*="//game.bilibili.com"] + .v-popover
    {
        display: none !important;
    }
}

// 隐藏 漫画弹出框
html[common-hide-nav-manga-popover] {
    .bili-header__bar .left-entry .default-entry[href*="//manga.bilibili.com"] + .v-popover
    {
        display: none !important;
    }
}
