// 隐藏 活动海报
html[live-page-flip-view] {
    .flip-view {
        display: none !important;
    }
}

// 隐藏 直播间推荐/直播间介绍
html[live-page-room-info-ctnr] {
    #sections-vm .room-info-ctnr {
        display: none !important;
    }
}

// 隐藏 主播动态
html[live-page-room-feed] {
    #sections-vm .room-feed {
        display: none !important;
    }
}

// 隐藏 主播公告
html[live-page-announcement-cntr] {
    #sections-vm .room-detail-box {
        display: none !important;
    }
}

// 隐藏 直播下方全部内容
html[live-page-sections-vm] {
    #sections-vm {
        display: none !important;
    }
    .room-bg {
        min-height: 99vh !important;
    }
}
