// 隐藏 头像
html[live-page-header-avatar] {
    #right-part .user-panel {
        display: none !important;
    }
}

// 隐藏 关注
html[live-page-header-follow-panel] {
    #right-part .shortcut-item:has(.follow-panel-set) {
        display: none;
    }
}

// 隐藏 购买电池
html[live-page-header-recharge] {
    #right-part .shortcut-item:has(.item-icon-recharge) {
        display: none;
    }
}

// 隐藏 下载客户端
html[live-page-header-bili-download-panel] {
    #right-part .shortcut-item:has(.bili-download-panel, .item-icon-electronDownload) {
        display: none;
    }
}

// 隐藏 我要开播
html[live-page-header-go-live] {
    #right-part .shortcut-item:has(.download-panel-ctnr, .startlive-btn) {
        visibility: hidden;
    }
}
