// 隐藏 搜索按钮
html[live-page-header-search-btn] {
    #nav-searchform {
        .search-bar input {
            margin-right: 0 !important;
        }
        .search-bar {
            padding: 0 3px !important;
            .nav-search-clean {
                right: 0 !important;
            }
        }
        .search-btn {
            display: none !important;
        }
    }
}

// 隐藏 推荐搜索
html[live-page-nav-search-rcmd] {
    #nav-searchform input::placeholder {
        visibility: hidden;
        opacity: 0 !important;
    }
}

// 隐藏 搜索历史
html[live-page-nav-search-history] {
    #nav-searchform .history {
        display: none !important;
    }
}

// 隐藏 bilibili热搜
html[live-page-nav-search-trending] {
    .search-pannel {
        padding: 13px 0 4px !important;
        .trending {
            display: none !important;
        }
        .histories-wrap {
            max-height: unset !important;
        }
        .history-fold-wrap {
            display: none !important;
        }
    }
}

// 隐藏 搜索框
html[live-page-header-search-block] {
    #nav-searchform {
        display: none !important;
    }
}
