// 隐藏 弹幕数
html[channel-hide-danmaku-count] {
    .bili-cover-card__stat:nth-child(2) {
        visibility: hidden;
    }
}

// 增大 视频信息字号
html[channel-increase-rcmd-list-font-size] {
    .bili-video-card {
        --bili-video-card-title-font-size: 16px !important;
        --bili-video-card-subtitle-font-size: 14px !important;
    }
    .bili-video-card.video-card .bili-cover-card {
        --bili-cover-card-stat-font-size: 14px !important;
    }
}
